Outbound Marketing.json
{
  "name": "Outbound Marketing",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/x_guru~leads-scraper-apollo-zoominfo/runs?token=apify_api_xyOB3TgFhUTM9akbqAqkCsO6vwtmKb0ABpv8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"firstName\": \"Jane\",\n  \"lastName\": \"Doe\",\n  \"email\": \"jane.doe@example.com\",\n  \"phone\": \"+1234567890\",\n  \"jobTitle\": \"Sales Director\",\n  \"department\": \"Sales\",\n  \"companyName\": \"Example Corp\",\n  \"companyDomain\": \"example.com\",\n  \"industry\": \"Software\",\n  \"location\": \"San Francisco, CA\",\n  \"linkedin\": \"https://linkedin.com/in/janedoe\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        416,
        0
      ],
      "id": "e3c6bd03-edd3-4818-b5f6-cff3a4c5a566",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        192,
        0
      ],
      "id": "efb1cab6-4292-4192-94de-e903f53ce0f4",
      "name": "Webhook",
      "webhookId": "45ed1eca-6dd6-4c25-abaa-8ede7274d80f"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?format=json&clean=true\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer apify_api_ZNGnmFS8RJ7qgwvF6bBB8ii7kv14ie2RntUq"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n  {\n    \"firstName\": \"Jane\",\n    \"lastName\": \"Doe\",\n    \"email\": \"jane.doe@example.com\",\n    \"phone\": \"+1234567890\",\n    \"jobTitle\": \"Sales Director\",\n    \"department\": \"Sales\",\n    \"companyName\": \"Example Corp\",\n    \"companyDomain\": \"example.com\",\n    \"industry\": \"Software\",\n    \"location\": \"San Francisco, CA\",\n    \"linkedin\": \"https://linkedin.com/in/janedoe\"\n  },\n  {\n    \"firstName\": \"John\",\n    \"lastName\": \"Smith\",\n    \"email\": \"john.smith@example.com\",\n    \"phone\": \"+0987654321\",\n    \"jobTitle\": \"Marketing Manager\",\n    \"department\": \"Marketing\",\n    \"companyName\": \"Acme Inc\",\n    \"companyDomain\": \"acme.com\",\n    \"industry\": \"Retail\",\n    \"location\": \"New York, NY\",\n    \"linkedin\": \"https://linkedin.com/in/johnsmith\"\n  }\n]\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        0
      ],
      "id": "d7a19d0f-201e-4e2a-812e-6778437c8a4b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "jsCode": "// Input: items from previous node (Apify dataset fetch)\n// Output: simplified array of lead objects with selected fields\n\nreturn items.map(item => {\n  const lead = item.json;\n\n  return {\n    json: {\n      firstName: lead.first_name || \"\",\n      lastName: lead.last_name || \"\",\n      email: lead.work_email || (lead.personal_emails ? lead.personal_emails[0] : \"\"),\n      phone: lead.phone || \"\",\n      jobTitle: lead.job_title || \"\",\n      department: lead.department || \"\",\n      companyName: lead.job_company_name || \"\",\n      companyDomain: lead.job_company_website || \"\",\n      industry: lead.industry || \"\",\n      location: lead.location || \"\",\n      linkedin: lead.linkedin_url || \"\"\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "08c66712-58f8-47a6-86dd-8282dbd7b0c7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e40c2ea3-65f9-4d04-9a5a-55741270c8cb",
              "leftValue": "={{ $('HTTP Request').item.json.data.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1088,
        0
      ],
      "id": "e5455961-8433-4d5a-b2f1-49cf1338e4e4",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.neverbounce.com/v4/single/check",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"key\": \"webhook_e82e7843cad09630eb436349f8f5bed0\",\n  \"email\": \"email_to_verify@example.com\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1312,
        16
      ],
      "id": "887f748a-cd6c-4ea5-bfbd-47f101d5dd5d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "content": "Webhook Node:\nReceives the website URL input to start the workflow.\n\nHTTP Request Node (Apify):\nTriggers Apify scraper actor with the target company URL to extract relevant personas and contact details.\n\nHTTP Request Node (Fetch Results):\nDownloads scraped lead data from Apify dataset endpoint.\n\nFunction Node (Data Transformation):\nParses raw persona data, extracts required fields, and filters out invalid entries.\n\nIF Node (Business Email + Valid Data):\nEnsures only leads with business email domains (not personal accounts) proceed to verification.\n\nHTTP Request Node (NeverBounce):\nVerifies email addresses for deliverability and validity.\n\nIF Node (Email Valid):\nPasses only emails with result == \"valid\" from NeverBounce.\n\nHTTP Request Node (Campaign Enroll):\nEnrolls fully qualified leads into the email campaign (SmartLeads or chosen alternate tool).\n\nNotes:\n\nPersonal emails (gmail.com, yahoo.com, etc.) are filtered out before campaign enrollment.\n\nAll API keys should be stored securely using n8n credentials.\n\nAdd error handling or failure notifications for workflow reliability.\n\nExpected Outcome:\nOnly valid business leads are automatically enrolled into B2B campaigns, improving outreach effectiveness and deliverability.\n\n",
        "height": 400,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        -144
      ],
      "typeVersion": 1,
      "id": "86890552-0509-458b-a700-a485a1b3c832",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "insta",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        336
      ],
      "id": "8e9799f1-1b08-4a9f-a8bb-ed36a5239dc3",
      "name": "Webhook1",
      "webhookId": "a715bab1-a3c0-45a3-9881-40ab126d767e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.apify.com/v2/acts/apify~instagram-scraper/runs?token=apify_api_xyOB3TgFhUTM9akbqAqkCsO6vwtmKb0ABpv8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"startUrls\": [\n    {\n      \"url\": \"https://example-company-website.com\"\n    }\n  ],\n  \"maxItems\": 100,\n  \"maxConcurrency\": 10\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        336
      ],
      "id": "58ed6358-5be8-42a7-bec0-54c98d0a3a4b",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "=https://api.apify.com/v2/datasets/{{ $json.data.defaultDatasetId }}/items?format=json&clean=true ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"input\": {\n    \"startUrls\": [\n      {\n        \"url\": \"https://example-company-website.com\"\n      }\n    ],\n    \"maxItems\": 100,\n    \"maxConcurrency\": 10\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        336
      ],
      "id": "ba367bdf-a699-4df1-8eac-ad6738b9463c",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      instagramHandle: item.json.instagramHandle || item.json.profileUrl || ''\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        336
      ],
      "id": "30c7ed7f-e456-49ec-bf1c-89f3dbcdd903",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f15d81a4-8524-4457-aed3-95aa97ccef1b",
              "leftValue": "={{ $('HTTP Request3').item.json.data.status }}",
              "rightValue": "ready",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        336
      ],
      "id": "6fa742f8-e69c-42a0-a713-c06f101451d2",
      "name": "If1"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/mikolabs~instagram-bulkdm/runs?token=apify_api_xyOB3TgFhUTM9akbqAqkCsO6vwtmKb0ABpv8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"sessionid\": \"YOUR_INSTAGRAM_SESSION_ID\",\n  \"target_usernames\": [\"username1\", \"username2\", \"username3\"],\n  \"message\": \"Hello! We have a great offer for you.\",\n  \"delay_between_messages\": 45,\n  \"proxy\": {\n    \"useApifyProxy\": true,\n    \"apifyProxyGroups\": [\"RESIDENTIAL\"]\n  },\n  \"max_users\": 100\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        352
      ],
      "id": "33e510dc-41a2-4dc1-b6c3-1e7206018746",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "content": "Steps:\n\nInput Capture:\n\nThe workflow begins when a website URL is submitted to the n8n automation (typically via a Webhook or HTTP API).\n\nInstagram Handle Extraction:\n\nAn automation actor (like Apify or an equivalent scraper) analyzes the website to find official Instagram handles or profile links.\n\nThe handle(s) are extracted using HTML parsing, link analysis, or an external Instagram scraping API for best accuracy.\n\nData Filtering:\n\nAutomation logic checks that valid and unique Instagram handles have been identified.\n\nOnly genuine and reachable business handles are selected for outbound messaging.\n\nOutreach Automation:\n\nEach valid handle is then passed to a DM automation service.\n\nIf ColdDMs is available, it will send the outreach messages via API. If not, Apify's Instagram DM Automation Actor or similar free/low-cost tools can be used instead.\n\nThe message content is customizable and may be personalized per handle.\n\nError Handling and Compliance:\n\nThe workflow includes error checks, compliance checks (Instagram rate limits), and reporting nodes to track success or issues.\n\nResult:\nThis workflow enables fast and scalable social outreach for businesses by transforming website leads into direct Instagram conversations automatically, suitable for lead generation, partnership proposals, or marketing campaigns.",
        "height": 608,
        "width": 544
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -368,
        272
      ],
      "typeVersion": 1,
      "id": "9da7dc6a-7c65-4878-a7b8-c358d3b5076b",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        176,
        672
      ],
      "id": "b9eee95b-3d6f-4e24-82af-47f28e36d003",
      "name": "Webhook2",
      "webhookId": "e1bc308d-0c8c-4639-9507-4ccaa753547f"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/wilcode~whatsapp-number-filter-pro/runs?token=apify_api_xyOB3TgFhUTM9akbqAqkCsO6vwtmKb0ABpv8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "[\n  {\n    \"phoneNumber\": \"+919876543210\",\n    \"contactName\": \"John Doe\",\n    \"isWhatsAppUser\": true,\n    \"profilePicUrl\": \"https://wa.me/profilepic/919876543210\",\n    \"lastSeen\": \"2025-11-15T10:35:00Z\",\n    \"countryCode\": \"IN\"\n  },\n  {\n    \"phoneNumber\": \"+14155552671\",\n    \"contactName\": \"Jane Smith\",\n    \"isWhatsAppUser\": true,\n    \"profilePicUrl\": \"https://wa.me/profilepic/14155552671\",\n    \"lastSeen\": \"2025-11-14T03:20:00Z\",\n    \"countryCode\": \"US\"\n  }\n]\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        672
      ],
      "id": "b98aaa9e-f13a-4747-8812-81fa5ed6e08f",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/wilcode~whatsapp-number-filter-pro/runs?token=apify_api_xyOB3TgFhUTM9akbqAqkCsO6vwtmKb0ABpv8",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        592,
        672
      ],
      "id": "ded29292-d1b0-4b31-b528-44766a9f37dd",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        672
      ],
      "id": "5f85316a-7709-4e5a-80c0-45673fa644b3",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e3013543-c071-4b16-8810-9b8ddea61611",
              "leftValue": "valid",
              "rightValue": "valid",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        672
      ],
      "id": "93594771-05b3-4faf-a598-20ef0826e941",
      "name": "If2"
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/wilcode~whatsapp-number-filter-pro/runs?token=apify_api_xyOB3TgFhUTM9akbqAqkCsO6vwtmKb0ABpv8",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1280,
        688
      ],
      "id": "00032684-f9d4-4eeb-9d8a-4d84fd34b32a",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ev0yZk_17kN06CXfhymQDQhQb-Arfd17GiJF8PqcdxA",
          "mode": "list",
          "cachedResultName": "Lead Extraction Summary",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ev0yZk_17kN06CXfhymQDQhQb-Arfd17GiJF8PqcdxA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ev0yZk_17kN06CXfhymQDQhQb-Arfd17GiJF8PqcdxA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date & Time": "={{ $('HTTP Request').item.json.data.startedAt }}",
            "Input Website URL": "={{ $('HTTP Request1').item.json.linkedin_url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date & Time",
              "displayName": "Date & Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Input Website URL",
              "displayName": "Input Website URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "umber of Personas Extracted (Apollo.io)",
              "displayName": "umber of Personas Extracted (Apollo.io)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Number of Valid Emails Found",
              "displayName": "Number of Valid Emails Found",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email Verification Success Count",
              "displayName": "Email Verification Success Count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Notes / Errors (if any)",
              "displayName": "Notes / Errors (if any)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1808,
        352
      ],
      "id": "ee37ee61-f1a3-4d5f-a556-9db3686a8317",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "OmLXUOoaEDQPg0td",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "kartik2.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.50.0",
            "content-length": "459",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "106.215.182.15",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "99f634dbe41d3b22-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "text/plain",
            "postman-token": "2e98c194-94ea-45f6-9e51-5396609e6cb1",
            "x-forwarded-for": "106.215.182.15, 172.69.178.171",
            "x-forwarded-host": "kartik2.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-53-77dd8844d7-fllxn",
            "x-is-trusted": "yes",
            "x-real-ip": "106.215.182.15"
          },
          "params": {},
          "query": {},
          "body": "{\r\n  \"event\": \"new_lead\",\r\n  \"lead\": {\r\n    \"id\": \"lead_123456\",\r\n    \"first_name\": \"John\",\r\n    \"last_name\": \"Doe\",\r\n    \"email\": \"john.doe@example.com\",\r\n    \"phone\": \"+1234567890\",\r\n    \"company\": {\r\n      \"name\": \"ExampleCorp\",\r\n      \"website\": \"https://examplecorp.com\",\r\n      \"industry\": \"Software\"\r\n    },\r\n    \"job_title\": \"Sales Manager\",\r\n    \"source\": \"web\",\r\n    \"tags\": [\"prospect\", \"verified\"]\r\n  },\r\n  \"timestamp\": \"2025-11-16T09:00:00Z\"\r\n}\r\n",
          "webhookUrl": "https://kartik2.app.n8n.cloud/webhook-test/url",
          "executionMode": "test"
        }
      }
    ],
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "kartik2.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.50.0",
            "content-length": "184",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "106.215.182.15",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "99f69dfaa41a85fd-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "text/plain",
            "postman-token": "9a01500f-90af-4cad-875e-f254bdb16885",
            "x-forwarded-for": "106.215.182.15, 172.70.218.63",
            "x-forwarded-host": "kartik2.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-53-77dd8844d7-fllxn",
            "x-is-trusted": "yes",
            "x-real-ip": "106.215.182.15"
          },
          "params": {},
          "query": {},
          "body": "{\r\n  \"websiteUrl\": \"https://example-company.com\",\r\n  \"outreachMessage\": \"Hi! We help businesses like yours grow on Instagram. Would love to connect and discuss how we can help!\"\r\n}\r\n\r\n",
          "webhookUrl": "https://kartik2.app.n8n.cloud/webhook-test/insta",
          "executionMode": "test"
        }
      }
    ],
    "Webhook2": [
      {
        "json": {
          "headers": {
            "host": "kartik2.app.n8n.cloud",
            "user-agent": "PostmanRuntime/7.50.0",
            "content-length": "155",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "106.215.182.15",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "99f70f3fc51948fe-BOM",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "text/plain",
            "postman-token": "284238cc-0212-4476-99a2-f739aa448777",
            "x-forwarded-for": "106.215.182.15, 172.69.87.124",
            "x-forwarded-host": "kartik2.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-53-77dd8844d7-pkkhp",
            "x-is-trusted": "yes",
            "x-real-ip": "106.215.182.15"
          },
          "params": {},
          "query": {},
          "body": "{\r\n  \"websiteUrl\": \"https://example-business-website.com\",\r\n  \"phoneNumbers\": [\r\n    \"+919876543210\",\r\n    \"+14155552671\",\r\n    \"+442032960123\"\r\n  ]\r\n}\r\n\r\n",
          "webhookUrl": "https://kartik2.app.n8n.cloud/webhook-test/whatsapp",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request6": {
      "main": [
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request7": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request8": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b36da709-68df-4b77-bccf-af2746c4ef21",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "21ffa506762b098762719e613b24dfaf1f9d4d479a3d916b888f664be5116e34"
  },
  "id": "l0T01vPqFWYbykYz",
  "tags": []
}